@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    margin: 0%;
    background-color: black;
    color: #F6F6F6;
    /* height: 100vh; */
}

.conteudo__textos__titulo-destacado {
    color: #22D4FD;
}

.conteudo {
    margin: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo__textos {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px; 
    /* height: 482px;  */
}

.conteudo__textos__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.conteudo__textos__paragrafo {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;

}

.conteudo__textos__botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.conteudo__textos__botoes__desing {
    /* background-color: #22D4FD; */
    width: 378px;
    /* height: 68px; */
    text-decoration: none;
    font-weight: 600;
    gap: 16px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    border-radius: 8px;
    padding: 21.5px 0;
    color: #F6F6F6;
    display: flex;
    justify-content: center;
    border: 2px solid #22D4FD;
}

.conteudo__textos__botoes__desing:hover{
    background-color: #272727;
}

.conteudo__textos__botoes__texto {
    font-family: "Krona One", sans-serif;
    font-size: 24px;
}

.footer {
    background-color: #22D4FD;
    height: 80px;
}

.footer__texto {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 24px;
    padding: 24px;
    font-weight: 400;
}